

background { linear-gradient(white, white) padding-box, url(img/Black-Logo_Large.png) border-box 0 / cover; }

body {
   background-color: #a4fff4;
}

padding: 1e;

border: 1em solid transparent;

.center {
width: 300px;
height: 300px;
position: absolute;
left: 50%;
top: 50%; 
margin-left: -150px;
margin-top: -70px;
}

.jumbotron {
    background-color: red;
    padding: 0px 0;
    margin-bottom: 0px;
}

#page1 {
    height: 300px;
    background-color:  #a4fff4;
    color: #fffff;
}

/* Logo */

#logo {
    position: absolute;
    z-index: 2;
    top: 0px
    height: 214px;
    margin: 10px auto 0 auto;
    }

/* Nav Bar */

.navbar {
    margin-bottom: 0px;
}

/* List Items */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    color: #a4fff4;
}

